.left-nav-component {
  display: flex;
  align-items: flex-start;
  height: 100vh;
}
.left-nav-component .left-nav-menu-item-list {
  background-color: #1a1c1d;
  width: 250px;
  height: 100%;
}
.left-nav-component .left-nav-menu-item-list.collapsed {
  width: 48px;
  transition: width 100ms;
}
