<div class="left-nav-component">
  <div class="left-nav-menu-item-list" [ngClass]="{'collapsed': collapsed}">
    <left-nav-menu-item [menuItem]="headerMenuItem"
                        [collapsed]="collapsed"
                        (onMenuItemStartIconClicked)="onHeaderLeftNavMenuItemClicked($event)">
    </left-nav-menu-item>
    <left-nav-menu-item *ngFor="let menuItem of menuItemList"
                        [menuItem]="menuItem"
                        [activeIcon]="activeIcon"
                        [inActiveIcon]="inActiveIcon"
                        [subMenuItemIcon]="subMenuItemIcon"
                        [collapsed]="collapsed"
                        (onMenuItemClicked)="onLeftNavMenuItemClicked($event)"
                        (onSubMenuItemClicked)="onLeftNavSubMenuItemClicked($event)">
    </left-nav-menu-item>
  </div>
</div>
