.left-nav-component {
  display: flex;
  align-items: flex-start;
  width: 250px;
  height: 100vh;
  background-color: #282f32;
}
.left-nav-component.collapsed {
  width: 48px;
  transition: width 250ms;
}
