.left-nav-component {
  display: flex;
  align-items: flex-start;
  height: 100vh;
}
.left-nav-component .left-nav-menu-item-list {
  background-color: #282f32;
  width: 250px;
}
.left-nav-component .left-nav-menu-item-list.collapsed {
  width: 48px;
  transition: width 250ms;
}
