/*Component*/
.left-nav-menu-item-component {
  position: relative;
  display: inline-block;
  width: 100%;
}

/*Elements in group*/
.left-nav-menu-item-component .primary-item,
.left-nav-menu-item-component .secondary-item {
  display: flex;
  align-items: center;
  background-color: #282f32;
  color: #6c7c83;
  font-size: 12px;
  cursor: pointer;
}
.left-nav-menu-item-component .label {
  width: calc(100% - 96px);
  opacity: 1;
  display: flex;
  align-items: center;
  transition: width 250ms, font-size 0ms 250ms, opacity 150ms;
}
.left-nav-menu-item-component .start-icon,
.left-nav-menu-item-component .end-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-nav-menu-item-component .start-icon,
.left-nav-menu-item-component .end-icon {
  min-width: 48px;
}

/*Individual element*/
/*--Primary item*/
.left-nav-menu-item-component .primary-item,
.left-nav-menu-item-component .primary-item .start-icon,
.left-nav-menu-item-component .primary-item .label,
.left-nav-menu-item-component .primary-item .end-icon {
  min-height: 48px;
}

/*--Secondary item*/
.left-nav-menu-item-component .secondary-item,
.left-nav-menu-item-component .secondary-item .start-icon,
.left-nav-menu-item-component .secondary-item .label,
.left-nav-menu-item-component .secondary-item .end-icon {
  height: 0;
  min-height: 0;
  opacity: 0;
  transition: min-height 250ms, height 250ms, opacity 250ms;
}

/*States*/
/*--Collapsed*/
.left-nav-menu-item-component.collapsed {
  width: 48px;
}
.left-nav-menu-item-component.collapsed .secondary-item {
  display: none;
}
.left-nav-menu-item-component.collapsed .label {
  min-height: 0;
  width: 0;
  height: 0;
  opacity: 0;
  font-size: 0;
}
.left-nav-menu-item-component.collapsed,
.left-nav-menu-item-component.collapsed .label {
  transition: width 250ms;
}
.left-nav-menu-item-component.collapsed .end-icon {
  min-width: 0;
  min-height: 0 !important;
  width: 0;
  height: 0;
  opacity: 0;
}

/*Active*/
.left-nav-menu-item-component.active .secondary-item,
.left-nav-menu-item-component.active .secondary-item .start-icon,
.left-nav-menu-item-component.active .secondary-item .label,
.left-nav-menu-item-component.active .secondary-item .end-icon {
  min-height: 40px;
  opacity: 1;
  transition: min-height 250ms, height 250ms, opacity 250ms;
}
