LEFT_NAV_MENU_ITEM_FONT_SIZE = 12px;

LEFT_NAV_MENU_ITEM_ORD_BG_COLOR = #282f32;
LEFT_NAV_MENU_ITEM_ORD_TEXT_COLOR = #6c7c83;

LEFT_NAV_MENU_ITEM_PRIMARY_ACTIVE_BG_COLOR = #0091EA;
LEFT_NAV_MENU_ITEM_PRIMARY_ACTIVE_TEXT_COLOR = #d9e3e8;

LEFT_NAV_MENU_ITEM_SECONDARY_ACTIVE_BG_COLOR = #00B0FF;
LEFT_NAV_MENU_ITEM_SECONDARY_ACTIVE_TEXT_COLOR = #dbf4ff;

LEFT_NAV_MENU_ITEM_ICON_WIDTH_VALUE = 48;
LEFT_NAV_MENU_ITEM_ICON_WIDTH = (LEFT_NAV_MENU_ITEM_ICON_WIDTH_VALUE)px;

LEFT_NAV_MENU_ITEM_PRIMARY_HEIGHT = 48px;
LEFT_NAV_MENU_ITEM_SECONDARY_HEIGHT = 40px;

LEFT_NAV_MENU_ITEM_SECONDARY_STATISTIC_BG_COLOR = #00b0ff;
LEFT_NAV_MENU_ITEM_SECONDARY_STATISTIC_TEXT_COLOR = #dbf4ff;
