<div class="left-nav-menu-item-component"
     [ngClass]="{'active': menuItem.isActive(), 'collapsed': collapsed}">
  <div class="primary-item" (click)="onPrimaryItemClicked(menuItem)">
    <span class="start-icon"><i class="fa {{menuItem.getStartIcon()}}"></i></span>
    <span class="label">{{menuItem.getLabel()}}</span>
    <span *ngIf="!menuItem.isStatistic()" class="end-icon">
      <i class="fa {{getPrimaryItemEndIcon()}}"></i>
    </span>
    <span *ngIf="menuItem.isStatistic()" class="end-icon statistic">
      <small class="count">{{menuItem.getCount()}}</small>
    </span>
  </div>
  <div class="secondary-item"
       (click)="onSecondaryItemClicked(subMenuItem)"
       [ngClass]="{'active': subMenuItem.isActive()}"
       *ngFor="let subMenuItem of menuItem.getSubMenuItemList()">
    <span class="start-icon">
      <i class="fa {{subMenuItem.getStartIcon() || 'fa-angle-right'}}"></i>
    </span>
    <span class="label">{{subMenuItem.getLabel()}}</span>
    <span *ngIf="!subMenuItem.isStatistic()" class="end-icon">
      <i class="fa {{subMenuItem.getEndIcon()}}"></i>
    </span>
    <span *ngIf="subMenuItem.isStatistic()" class="end-icon statistic">
      <small class="count">{{subMenuItem.getCount()}}</small>
    </span>
  </div>
</div>
