<div class="left-nav-menu-item-component" [ngClass]="{'active': menuItem.isActive()}">
  <div class="primary-item">
    <span class="start-icon"><i class="fa {{menuItem.getStartIcon()}}"></i></span>
    <span class="label">{{menuItem.getLabel()}}</span>
    <span class="end-icon">
      <i class="fa {{menuItem.getEndIcon()}}"></i>
    </span>
  </div>
  <div class="secondary-item"
       [ngClass]="{'active': subMenuItem.isActive()}"
       *ngFor="let subMenuItem of menuItem.getSubMenuItemList()">
    <span class="start-icon"><i class="fa {{subMenuItem.getStartIcon()}}"></i></span>
    <span class="label">{{subMenuItem.getLabel()}}</span>
    <span *ngIf="!subMenuItem.isStatistic()" class="end-icon">
      <i class="fa {{subMenuItem.getEndIcon()}}"></i>
    </span>
    <span *ngIf="subMenuItem.isStatistic()" class="end-icon statistic">
      <small class="count">{{subMenuItem.getCount()}}</small>
    </span>
  </div>
</div>
