<div class="dropdown-link-component">
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <!--<button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>-->
        <a href="#" id="dropdown-link" ngbDropdownToggle>abc@example.com.vn</a>
        <div class="dropdown-menu" aria-labelledby="dropdown-link">
          <button class="dropdown-item">Dropdown Item 1</button>
          <button class="dropdown-item">Dropdown Item 1</button>
          <button class="dropdown-item">Dropdown Item 1</button>
        </div>
      </div>
    </div>
  </div>
</div>