<div class="dropdown-link-component {{helperCssClass}}">
  <div ngbDropdown class="d-inline-block">
    <a href="#" id="dropdown-link-{{getId()}}" ngbDropdownToggle>{{getLabel()}}</a>
    <ul class="dropdown-menu" aria-labelledby="dropdown-link">
      <li class="dropdown-item" *ngFor="let menuItem of getMenuItemList()">
        {{menuItem.getLabel()}}
      </li>
      <li class="dropdown-item" *ngIf="isMenuItemListEmpty()">
        <span><small>
          <em>Empty menu item list</em>
        </small></span>
      </li>
    </ul>
  </div>
</div>