.root-app-component {
  display: flex;
  background-color: #e5e5e5;
  min-height: 100vh;
}
.root-app-component .root-app-header {
  display: flex;
  width: 100%;
  height: 3rem;
  align-items: center;
  padding: 1rem;
}
.root-app-component .header-current-user {
  margin-left: auto;
}