.side-bar-component {
  display: flex;
  align-items: flex-start;
  height: 100vh;
}
.side-bar-component .side-bar-menu-item-list {
  background-color: #455A64;
  width: 250px;
  height: 100%;
}
.side-bar-component .side-bar-menu-item-list.collapsed {
  width: 48px;
  transition: width 100ms;
}
.side-bar-component .side-bar-search-box .search-control-wrapper {
  position: relative;
}
.side-bar-component .side-bar-search-box .search-control {
  width: 90%;
  margin: 5px auto;
}
.side-bar-component .side-bar-search-box .side-bar-menu-item,
.side-bar-component .side-bar-search-box.collapsed .search-control {
  display: none;
}
.side-bar-component .side-bar-search-box .search-control,
.side-bar-component .side-bar-search-box.collapsed .side-bar-menu-item {
  display: block;
}