<div class="side-bar-component">

  <!-- TODO: move collapsed CSS class upto .side-bar-component class -->

  <div class="side-bar-menu-item-list" [ngClass]="{'collapsed': collapsed}">
    <side-bar-menu-item [menuItem]="headerMenuItem"
                        [collapsed]="collapsed"
                        (onMenuItemIconClicked)="onSideBarMenuItemIconClicked($event)">
    </side-bar-menu-item>
    <div class="side-bar-search-box" [ngClass]="{'collapsed': collapsed}">
      <side-bar-menu-item [menuItem]="searchMenuItem"
                          [collapsed]="collapsed"
                          (onMenuItemIconClicked)="onSideBarMenuItemIconClicked($event)">
      </side-bar-menu-item>
      <div class="search-control-wrapper">
        <input type="text" class="form-control input-sm search-control" [formControl]="searchControl">
        <i class="fa search-icon" [ngClass]="{'fa-times': isInSearch(), 'fa-search': !isInSearch()}"
           (click)="stopSearching()"></i>
      </div>
    </div>
    <side-bar-menu-item *ngFor="let menuItem of getMenuItemList()"
                        [menuItem]="menuItem"
                        [activeIcon]="activeIcon"
                        [inActiveIcon]="inActiveIcon"
                        [subMenuItemIcon]="subMenuItemIcon"
                        [collapsed]="collapsed"
                        (onMenuItemClicked)="onSideBarMenuItemClicked($event)"
                        (onSubMenuItemClicked)="onSideBarSubMenuItemClicked($event)"
                        (onMenuItemIconClicked)="onSideBarMenuItemIconClicked($event)">
    </side-bar-menu-item>
  </div>
</div>
