/*Component*/
.side-bar-menu-item-component {
  position: relative;
  width: 100%;
}
/*Elements in group*/
.side-bar-menu-item-component .primary-item,
.side-bar-menu-item-component .secondary-item {
  display: flex;
  align-items: center;
  font-size: 12px;
}
/*cursor pointer*/
/*border-left 3px solid transparent*/
.side-bar-menu-item-component .primary-item {
  background-color: #455a64;
  color: rgba(255,255,255,0.87);
  text-transform: uppercase;
}
.side-bar-menu-item-component .secondary-item {
  background-color: #37474f;
  color: rgba(255,255,255,0.87);
}
.side-bar-menu-item-component .label {
  width: calc(100% - 96px);
  opacity: 1;
  display: flex;
  align-items: center;
  transition: width 250ms, font-size 0ms 250ms, opacity 150ms;
}
.side-bar-menu-item-component .start-icon,
.side-bar-menu-item-component .end-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-bar-menu-item-component .start-icon,
.side-bar-menu-item-component .end-icon {
  min-width: 48px;
}
/*Individual element*/
/*--Primary item*/
.side-bar-menu-item-component .primary-item,
.side-bar-menu-item-component .primary-item .start-icon,
.side-bar-menu-item-component .primary-item .label,
.side-bar-menu-item-component .primary-item .end-icon {
  min-height: 48px;
}
/*--Secondary item*/
.side-bar-menu-item-component .secondary-item,
.side-bar-menu-item-component .secondary-item .start-icon,
.side-bar-menu-item-component .secondary-item .label,
.side-bar-menu-item-component .secondary-item .end-icon {
  height: 0;
  min-height: 0;
  opacity: 0;
}
/*transition min-height 250ms, height 250ms, opacity 250ms*/
/*---End icon as Statistic*/
.side-bar-menu-item-component .end-icon.statistic .count {
  background-color: #455a64;
  color: rgba(255,255,255,0.87);
  padding: 6px 8px;
  border-radius: 50px;
}
.side-bar-menu-item-component .end-icon.statistic {
  align-items: flex-end;
  flex-direction: column;
  margin-right: 8px;
}
/*States*/
/*--Collapsed*/
.side-bar-menu-item-component.collapsed {
  width: 48px;
}
.side-bar-menu-item-component.collapsed .secondary-item {
  display: none;
}
.side-bar-menu-item-component.collapsed .label {
  min-height: 0;
  width: 0;
  height: 0;
  opacity: 0;
  font-size: 0;
}
.side-bar-menu-item-component.collapsed,
.side-bar-menu-item-component.collapsed .label {
  transition: width 250ms;
}
.side-bar-menu-item-component.collapsed .end-icon {
  min-width: 0;
  min-height: 0 !important;
  width: 0;
  height: 0;
  opacity: 0;
}
/*Active*/
.side-bar-menu-item-component.active .primary-item,
.side-bar-menu-item-component .secondary-item.active {
  font-weight: bold;
  transition: all 250ms !important;
}
.side-bar-menu-item-component .secondary-item.active,
.side-bar-menu-item-component .secondary-item:hover {
  background: #263238;
  color: rgba(255,255,255,0.87);
}
.side-bar-menu-item-component.active .secondary-item,
.side-bar-menu-item-component.active .secondary-item .start-icon,
.side-bar-menu-item-component.active .secondary-item .label,
.side-bar-menu-item-component.active .secondary-item .end-icon {
  height: auto;
  min-height: 40px;
  opacity: 1;
  transition: min-height 150ms, height 1000ms 250ms, opacity 500ms;
}
.side-bar-menu-item-component .primary-item:hover .end-icon.statistic .count,
.side-bar-menu-item-component.active .primary-item .end-icon.statistic .count {
  box-shadow: 0 0 0 1px rgba(255,255,255,0.87);
  background-color: #455a64;
}
.side-bar-menu-item-component .secondary-item:hover .end-icon.statistic .count,
.side-bar-menu-item-component .secondary-item.active .end-icon.statistic .count {
  box-shadow: 0 0 0 1px rgba(255,255,255,0.87);
  background-color: #263238;
}
/*Collapse mixed with active*/
.side-bar-menu-item-component.active.collapsed .primary-item,
.side-bar-menu-item-component.collapsed .primary-item:hover {
  background: initial;
  color: rgba(255,255,255,0.87);
}
