SIDE_BAR_MENU_ITEM_FONT_SIZE = 12px;

SIDE_BAR_MENU_ITEM_PRIMARY_ORD_BG_COLOR = #455A64;
SIDE_BAR_MENU_ITEM_PRIMARY_ORD_TEXT_COLOR = rgba(255,255,255,.87);

SIDE_BAR_MENU_ITEM_SECONDARY_ORD_BG_COLOR = #37474F;
SIDE_BAR_MENU_ITEM_SECONDARY_ORD_TEXT_COLOR = rgba(255,255,255,.87);

SIDE_BAR_MENU_ITEM_PRIMARY_ACTIVE_BG_COLOR = #455A64;
SIDE_BAR_MENU_ITEM_PRIMARY_ACTIVE_TEXT_COLOR = rgba(255,255,255,.87);

SIDE_BAR_MENU_ITEM_SECONDARY_ACTIVE_BG_COLOR = #263238;
SIDE_BAR_MENU_ITEM_SECONDARY_ACTIVE_TEXT_COLOR = rgba(255,255,255,.87);

SIDE_BAR_MENU_ITEM_ICON_WIDTH_VALUE = 48;
SIDE_BAR_MENU_ITEM_ICON_WIDTH = (SIDE_BAR_MENU_ITEM_ICON_WIDTH_VALUE)px;

SIDE_BAR_MENU_ITEM_PRIMARY_HEIGHT = 48px;
SIDE_BAR_MENU_ITEM_SECONDARY_HEIGHT = 40px;

SIDE_BAR_MENU_ITEM_SECONDARY_STATISTIC_BG_COLOR = #455A64;
SIDE_BAR_MENU_ITEM_SECONDARY_STATISTIC_TEXT_COLOR = rgba(255,255,255,.87);
